<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <aredn-device-ip-addresses></aredn-device-ip-addresses>
    </div>
    <div class="col-md-4 col-sm-12">
      <aredn-mesh-rf></aredn-mesh-rf>
    </div>
    <div class="col-md-4 col-sm-12">
      <aredn-performance></aredn-performance>
    </div>
    <div class="col-md-4 col-sm-12">
      <aredn-location></aredn-location>
    </div>
    <div class="col-md-4 col-sm-12">
      <aredn-system-info></aredn-system-info>
    </div>
    <div class="col-md-4 col-sm-12">
      <aredn-memory-and-storage></aredn-memory-and-storage>
    </div>
  </div>
</div>