<div class="container">
  <div class="row">
    <div class="col-sm">
      <aredn-device-ip-addresses></aredn-device-ip-addresses>
    </div>
    <div class="col-sm">
      <aredn-mesh-rf></aredn-mesh-rf>
    </div>
    <div class="col-sm">
      <aredn-system-info></aredn-system-info>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <aredn-location></aredn-location>
    </div>
    <div class="col-md">
      <aredn-mesh-rf></aredn-mesh-rf>
    </div>
    <div class="col-sm">
      <aredn-system-info></aredn-system-info>
    </div>
  </div>
</div>